@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ac;
  src: url("fonts/font.woff");
}

.celeste {
  background-repeat: repeat !important;
  background-position: top center !important;
  background-size: 40% !important;
  background-color: #0eb9ba !important;
  background-image: url("images/tile-leaf-green.jpg") !important;
}

.celeste-popup-content {
  background-repeat: repeat !important;
  background-position: top center !important;
  background-size: 400px !important;
  background-color: #fde295 !important;
  background-image: url("images/tile-faces-yellow.jpg") !important;
}

.celeste-dialog {
  background-repeat: repeat !important;
  background-position: top center !important;
  background-size: 30% !important;
  background-color: #fde295 !important;
  background-image: url("images/tile-faces-yellow.jpg") !important;
}
