@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ac;
  src: url("fonts/font.woff");
}

.celeste {
  background-repeat: repeat;
  background-position: top center;
  background-size: 50%;
  background-color: #0eb9ba;
  background-image: url("images/tile-leaf-green.jpg");
}
